{
    "openapi": "3.0.1",
    "info": {
        "title": "Zion Integrator",
        "x-logo": {
            "url": "https://cloud.zionlogtec.com.br/assets/images/logos/zion-logo.png",
            "backgroundColor": "#FFFFFF",
            "altText": "Example logo"
        },
        "description": "API interface for integration with the Zion Integrator.",
        "license": {
            "name": "Zion-Cloud",
            "url": "https://www.zionlogtec.com.br"
        },
        "version": "1.0.0.01"
    },
    "servers": [{
        "url": "https://cloudhml.zionlogtec.com.br:8080/api/integrator",
        "description": "Generated server url"
    }],
    "tags": [{
        "name": "Previsão de Entrada Item",
        "description": "previsao-entrada-item"
    }, {
        "name": "Documento de Saída",
        "description": "documento-saida"
    }, {
        "name": "Previsão de Saída",
        "description": "previsao-saida"
    }, {
        "name": "Previsão de Saída Item",
        "description": "previsao-saida-item"
    }, {
        "name": "Previsão de Entrada",
        "description": "previsao-entrada"
    }, {
        "name": "Troca de Cabeçalho ou Troca do Pedido pela Nota Fiscal NFe",
        "description": "troca-pedido-notafiscal"
    }, {
        "name": "Empresa",
        "description": "empresa"
    }, {
        "name": "Receivement",
        "description": "receivement"
    }, {
        "name": "Boarding",
        "description": "boarding"
    }, {
        "name": "Expedition",
        "description": "expedition"
    }, {
        "name": "Tipo Código de Barra",
        "description": "tipo-codigo-barra"
    }, {
        "name": "Documento de Entrada",
        "description": "documento-entrada"
    }, {
        "name": "Tipo Uc",
        "description": "tipo-uc"
    }, {
        "name": "Rcq",
        "description": "rcq"
    }, {
        "name": "Produto Relacionado",
        "description": "produto-relacionado"
    }, {
        "name": "Estoque",
        "description": "estoque"
    }, {
        "name": "Inventory",
        "description": "inventory"
    }, {
        "name": "Produto",
        "description": "produto"
    }],
    "paths": {
        "/tipo-uc/{codigoEmpresa}/{codigoProduto}/{tipoUc}": {
            "get": {
                "tags": ["Tipo Uc"],
                "summary": "Retorna um tipoUC",
                "operationId": "findById",
                "parameters": [{
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProduto",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoUc",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Tipo Uc"],
                "summary": "Altera um TipoUc",
                "operationId": "update",
                "parameters": [{
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProduto",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoUc",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TipoUcDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Tipo Uc"],
                "summary": "Deleta um TipoUc",
                "operationId": "delete",
                "parameters": [{
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProduto",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoUc",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/produto/{codigoDepositante}/{codigoProduto}": {
            "get": {
                "tags": ["Produto"],
                "summary": "Retorna um produto de um Depositante",
                "operationId": "findByIdTeste",
                "parameters": [{
                    "name": "codigoDepositante",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProduto",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Produto"],
                "summary": "Altera um produto",
                "operationId": "update_1",
                "parameters": [{
                    "name": "codigoDepositante",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProduto",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProdutoDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Produto"],
                "summary": "Exclui um produto",
                "operationId": "delete_1",
                "parameters": [{
                    "name": "codigoDepositante",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProduto",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/produto-relacionado/{codigoEmpresa}/{codigoProduto}/{tipoUc}/{codigoProdutoRelacionado}": {
            "get": {
                "tags": ["Produto Relacionado"],
                "summary": "Retorna um Produto Relacionado",
                "operationId": "findById_1",
                "parameters": [{
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProduto",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoUc",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProdutoRelacionado",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Produto Relacionado"],
                "summary": "Altera um Produto Relacionado",
                "operationId": "update_2",
                "parameters": [{
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProduto",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoUc",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProdutoRelacionado",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProdutoRelacionadoDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Produto Relacionado"],
                "summary": "Deleta um Produto Relacionado",
                "operationId": "delete_2",
                "parameters": [{
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProduto",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoUc",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProdutoRelacionado",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/previsao-saida/{codigoEstabelecimento}/{codigoEmpresa}/{tipoDocumento}/{serieDocumento}/{previsaoSaida}": {
            "get": {
                "tags": ["Previsão de Saída"],
                "summary": "Retorna uma Previsão de Saída",
                "operationId": "findById_2",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "previsaoSaida",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Previsão de Saída"],
                "summary": "Altera uma Previsão de Saída",
                "operationId": "update_3",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "previsaoSaida",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PrevisaoSaidaDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Previsão de Saída"],
                "summary": "Exclui uma Previsão de Saída",
                "operationId": "delete_3",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "previsaoSaida",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/previsao-saida-item/{codigoEstabelecimento}/{codigoEmpresa}/{tipoDocumento}/{serieDocumento}/{previsaoSaida}/{sequenciaPrevisaoSaida}": {
            "get": {
                "tags": ["Previsão de Saída Item"],
                "summary": "Retorna o Item da Previsão de Saída",
                "operationId": "findByIdItem",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "previsaoSaida",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "sequenciaPrevisaoSaida",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Previsão de Saída Item"],
                "summary": "Altera um Item da Previsão de Saída",
                "operationId": "update_4",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "previsaoSaida",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "sequenciaPrevisaoSaida",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PrevisaoSaidaItemDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Previsão de Saída Item"],
                "summary": "Deleta um Item da Previsão de Saída",
                "operationId": "delete_4",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "previsaoSaida",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "sequenciaPrevisaoSaida",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/previsao-entrada/{codigoEstabelecimento}/{codigoEmpresa}/{tipoDocumento}/{serieDocumento}/{previsaoEntrada}": {
            "get": {
                "tags": ["Previsão de Entrada"],
                "summary": "Retorna uma Previsão de Entrada",
                "operationId": "findById_3",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "previsaoEntrada",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Previsão de Entrada"],
                "summary": "Altera uma Previsão de Entrada",
                "operationId": "update_5",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "previsaoEntrada",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PrevisaoEntradaDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Previsão de Entrada"],
                "summary": "Exclui uma Previsão de Entrada",
                "operationId": "delete_5",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "previsaoEntrada",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/previsao-entrada-item/{codigoEstabelecimento}/{codigoEmpresa}/{tipoDocumento}/{serieDocumento}/{previsaoEntrada}/{sequenciaPrevisaoEntrada}": {
            "get": {
                "tags": ["Previsão de Entrada Item"],
                "summary": "Retorna um Item da Previsão de Entrada",
                "operationId": "findById_4",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "previsaoEntrada",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "sequenciaPrevisaoEntrada",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Previsão de Entrada Item"],
                "summary": "Altera um Item da Previsão de Entrada",
                "operationId": "update_6",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "previsaoEntrada",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "sequenciaPrevisaoEntrada",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PrevisaoEntradaItemDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Previsão de Entrada Item"],
                "summary": "Exclui um Item da Previsão de Entrada",
                "operationId": "delete_6",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "previsaoEntrada",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "sequenciaPrevisaoEntrada",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/empresa/{codigoEmpresa}": {
            "get": {
                "tags": ["Empresa"],
                "summary": "Retorna uma Empresa",
                "operationId": "findById_5",
                "parameters": [{
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Empresa"],
                "summary": "Altera uma Empresa",
                "operationId": "update_7",
                "parameters": [{
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EmpresaDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Empresa"],
                "summary": "Deleta uma Empresa",
                "operationId": "delete_7",
                "parameters": [{
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/documento-saida/{codigoEstabelecimento}/{codigoEmpresa}/{tipoDocumento}/{serieDocumento}/{documentoSaida}": {
            "get": {
                "tags": ["Documento de Saída"],
                "summary": "Retorna um documento de saida atravéz dos atributos identificadores",
                "operationId": "findById_6",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "documentoSaida",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Documento de Saída"],
                "summary": "Altera um documento de saida",
                "operationId": "update_8",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "documentoSaida",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocumentoSaidaDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Documento de Saída"],
                "summary": "Exclui um documento de saida",
                "operationId": "delete_8",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "documentoSaida",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/documento-entrada/{codigoEstabelecimento}/{codigoEmpresa}/{tipoDocumento}/{serieDocumento}/{documentoEntrada}": {
            "get": {
                "tags": ["Documento de Entrada"],
                "summary": "Retorna um Documento de Entrada",
                "operationId": "findById_7",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "documentoEntrada",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": ["Documento de Entrada"],
                "summary": "Altera um Documento de Entrada",
                "operationId": "update_9",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "documentoEntrada",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocumentoEntradaDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": ["Documento de Entrada"],
                "summary": "Exclui um Documento de Entrada",
                "operationId": "delete_9",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "tipoDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "serieDocumento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "documentoEntrada",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/troca-pedido-notafiscal/{codigoEstabelecimento}/{codigoDepositante}": {
            "post": {
                "tags": ["Troca de Cabeçalho ou Troca do Pedido pela Nota Fiscal NFe"],
                "summary": "Realiza a substituição do pedido origem pela nota fiscal. O pedido origem é cancelado passando todas suas dependencias para o documento NFe que será gerado através do xml enviado na requisição.",
                "operationId": "trocaPedidoPorNotaFiscal",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoDepositante",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NotaFiscal"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tipo-uc/{codigoEmpresa}/{codigoProduto}": {
            "get": {
                "tags": ["Tipo Uc"],
                "summary": "Retorna todos os TipoUC de um Produto",
                "operationId": "findByProduto",
                "parameters": [{
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProduto",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Tipo Uc"],
                "summary": "Insere um novo tipoUC",
                "operationId": "create",
                "parameters": [{
                    "name": "codigoEmpresa",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "codigoProduto",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TipoUcDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/receivement/insert/conference": {
            "post": {
                "tags": ["Receivement"],
                "summary": "Insere as Conferências de Recebimento",
                "operationId": "insertConference",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/ConferenceItemDTO"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/produto": {
            "post": {
                "tags": ["Produto"],
                "summary": "Adiciona um novo produto",
                "operationId": "save",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProdutoDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/produto-relacionado": {
            "post": {
                "tags": ["Produto Relacionado"],
                "summary": "Insere um Produto Relacionado",
                "operationId": "create_1",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProdutoRelacionadoDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/previsao-saida": {
            "post": {
                "tags": ["Previsão de Saída"],
                "summary": "Insere uma nova Previsão de Saída",
                "operationId": "save_1",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PrevisaoSaidaDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/previsao-saida-item": {
            "post": {
                "tags": ["Previsão de Saída Item"],
                "summary": "Insere um novo Item para a Previsão de Saída",
                "operationId": "save_2",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PrevisaoSaidaItemDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/previsao-entrada": {
            "post": {
                "tags": ["Previsão de Entrada"],
                "summary": "Insere uma nova Previsão de Entrada",
                "operationId": "create_2",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PrevisaoEntradaDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/previsao-entrada-item": {
            "post": {
                "tags": ["Previsão de Entrada Item"],
                "summary": "Insere um novo Item para a Previsão de Entrada",
                "operationId": "save_3",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PrevisaoEntradaItemDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/inventory/insert/wsvolumeinventory": {
            "post": {
                "tags": ["Inventory"],
                "summary": "Insere as contagens do inventário com base no volume informado",
                "operationId": "insertInventoryVolume",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/WsVolume"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/inventory/insert/volumeinventory": {
            "post": {
                "tags": ["Inventory"],
                "summary": "Insere as contagens unitárias do inventário na tabela WSVOLUME",
                "operationId": "insertWsVolume",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/InventoryVolumeItemDTO"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/inventory/insert/uainventory": {
            "post": {
                "tags": ["Inventory"],
                "summary": "Insere as contagens do inventário com base na UA informada",
                "operationId": "insertInventoryUa",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/InventoryUaItemDTO"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expedition/insert/volumeconference": {
            "post": {
                "tags": ["Expedition"],
                "summary": "Insere as conferências de expedição com base no volume",
                "operationId": "insertVolumeConference",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/ConferenceVolumeItemDTO"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expedition/insert/conference": {
            "post": {
                "tags": ["Expedition"],
                "summary": "Insere as Conferências de Expedição",
                "operationId": "insertConference_1",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/ConferenceItemDTO"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/expedition/confirmation/send": {
            "post": {
                "tags": ["Expedition"],
                "operationId": "confirmIntegrationPickingSend",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "integer",
                                    "format": "int64"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/empresa": {
            "get": {
                "tags": ["Empresa"],
                "summary": "Retorna todas as Empresas",
                "operationId": "findAll_2",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": ["Empresa"],
                "summary": "Insere uma nova Empresa",
                "operationId": "save_4",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EmpresaDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/documento-saida": {
            "post": {
                "tags": ["Documento de Saída"],
                "summary": "Insere um novo documento de saída",
                "operationId": "save_5",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocumentoSaidaDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/documento-entrada": {
            "post": {
                "tags": ["Documento de Entrada"],
                "summary": "Insere um novo Documento de Entrada",
                "operationId": "save_6",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DocumentoEntradaDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/boarding/insert/volumeconference": {
            "post": {
                "tags": ["Boarding"],
                "summary": "Insere as conferências de embarque com base no volume",
                "operationId": "insertConferenceVolume",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/ConferenceVolumeItemDTO"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/boarding/insert/conference": {
            "post": {
                "tags": ["Boarding"],
                "summary": "Insere as Conferências de Embarque",
                "operationId": "insertConference_2",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/ConferenceItemDTO"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tipo-codigo-barra": {
            "get": {
                "tags": ["Tipo Código de Barra"],
                "summary": "Retorna os Tipos de Código de Barra",
                "operationId": "findAll",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tipo-codigo-barra/count": {
            "get": {
                "tags": ["Tipo Código de Barra"],
                "summary": "Retorna a quantidade de Tipos de Código de Barra",
                "operationId": "findCount",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rcq": {
            "get": {
                "tags": ["Rcq"],
                "summary": "Retorna todos os RCQs",
                "operationId": "findAll_1",
                "parameters": [{
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/rcq/{codigoEstabelecimento}/{codigoDepositante}/{numeroMovimento}": {
            "get": {
                "tags": ["Rcq"],
                "summary": "Retorna lista de RCQs pelo Número Movimento",
                "operationId": "findByNumeroMovimento",
                "parameters": [{
                    "name": "codigoEstabelecimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }, {
                    "name": "codigoDepositante",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "numeroMovimento",
                    "in": "path",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }, {
                    "name": "Authorization",
                    "in": "header",
                    "schema": {
                        "type": "string"
                    },
                    "description": "JWT Token",
                    "required": false
                }],
                "responses": {
[...]
